<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://android.com">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Full Digital Clock"
        android:theme="@android:style/Theme.DeviceDefault">

        <activity
            android:name="com.victor.relojdigitalsegundos.MainActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
